name: Cleanup Pull Request

on:
  # https://docs.github.com/en/developers/webhooks-and-events/webhooks/webhook-events-and-payloads#pull_request
  pull_request_target:
    types: [ closed ]
  # https://docs.github.com/en/actions/learn-github-actions/events-that-trigger-workflows#workflow_dispatch
  workflow_dispatch:

jobs:
  delete-untagged-images:
    uses: energy-quants/.github/.github/workflows/cleanup-pr.yml@main
    with:
      org: energy-quants
      repo: mambaforge
      image: mambaforge
      pr:  ${{ github.event.number }}
    secrets:
      ghcr_token: ${{ secrets.GHCR_TOKEN }}
