name: Cleanup Pull Request

on:
  # https://docs.github.com/en/actions/learn-github-actions/events-that-trigger-workflows#pull_request_target
  pull_request_target:
    types: [ closed ]
  # https://docs.github.com/en/actions/learn-github-actions/events-that-trigger-workflows#workflow_dispatch
  workflow_dispatch:
    inputs:
      pr:
        description: 'The number of the pull request to cleanup.'
        required: true


jobs:
  debug:
    runs-on: ubuntu-latest
    steps:
      - name: Show Environment
        run: env | sort
      - name: Show GitHub Context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$GITHUB_CONTEXT"
  get_pr_number:
    runs-on: ubuntu-latest
    outputs:
      pr: ${{ steps.get_pr_number.outputs.pr }}
    steps:
      - name: Get Pull Request Number
        id: get_pr_number
        shell: bash
        run: |
          set -euox pipefail
          if [[ "${GITHUB_EVENT_NAME}" == "workflow_dispatch" ]]; then
            echo "::set-output name=pr::${{ github.event.inputs.pr }}"
          else
            echo "::set-output name=pr::${{ github.event.number }}"
          fi
  delete_pr_image:
    uses: energy-quants/.github/.github/workflows/cleanup-pr.yml@main
    needs: get_pr_number
    with:
      org: energy-quants
      repo: mambaforge
      image: mambaforge
      pr:  ${{ needs.get_pr_number.outputs.pr }}
    secrets:
      ghcr_token: ${{ secrets.GHCR_TOKEN }}
